@import './config';

.header {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 4rem;
    position: relative;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.languages {
    position: absolute;
    top: 10%;
    right: 0%;

    button {
        border: none;
        margin-right: 0.5rem;
        img {
            pointer-events: none;
        }
    }

    button:active {
        img {
            opacity: 0.8;
        }
    }
}

img.photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 3rem;
}

.title {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight:400;
    font-family: $header1-font;
    margin-bottom: 0.5rem;
}

.bubble {
    margin-bottom: 0.5rem;
    background-color: $bubble-color;
    color: $bubble-text;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    display: inline-block;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.icons img {
    margin-right: 0.5rem;
}

.line {
    width: 90%;
    // background-color:rgb(192, 211, 204);
    height: 2px;
    margin: auto;
}

@media (max-width: 1000px){
    .header, .line {
        align-items: center;

        h1, .bubble {
            margin-bottom: 1rem;
        }

        h1 {
            font-size: 2rem;
            line-height: 2rem;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 420px){
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 1.8rem;
        }
    }
}