@import './config';

.section {
    width: 90%;
    margin: 2.5rem auto;
}

ul {
    list-style: circle;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: $header3-font;
}

li {
    margin-left: 1.4rem;
    margin-bottom: 0.5rem;
}

a {
    color: $link-color;
}

.last {
    padding-bottom: 3.5rem;
}

@media (max-width: 1000px){
    .section {
        width: 90%;
    }
}