*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(34, 34, 34);
    background-color:rgb(236, 236, 236)
}

button:focus {
    outline: none;
}

@import './header';
@import './sections';