@import 'config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $regular-font;
    color: $text-color;
    background: $fallback;
    background: $pink-gradient;
}

.container {
    background-color: white;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1000px){
        width: 90%;
    }
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

@import './header';
@import './sections';